
body {
margin : 0;
padding: 0;
}

.cambiaColor {
	box-sizing: border-box;
	width: auto;
	height: auto;
	padding: 3em 0;
	font-family: sans-serif;
	color: black;
	text-align: center;
 position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
